@import './style.css';


* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif, Arial, Helvetica, sans-serif;
    margin: 0px;
    outline: none;
    padding: 0px;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

::selection {
    color: var(--primary-bank);
}

::-webkit-scrollbar {
    width: 0px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

body, html {
    background: var(--black-secondary);
    height: 100vh;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    overflow-x: hidden;
}

li {
    margin-bottom: 0.5rem;
}

