@media only screen and (min-width: 750px) {
    
 .head-text {
    font-size: 2.75rem !important;
    max-width: 70%;
}

.sub-text {
    font-size: 1.5rem !important;
    max-width: 70%;
}

.button {
    width: 300px !important;
}

}